<!-- <nav class="navbar navbar-light bg-light justify-content-between">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div> -->
<!--   <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
  </ul> -->
<!--   <ng-template [ngIf]="donationCounter > 190">
    <span class="align-middle">You are a real nice human being! VIP vibes all over man!</span>
  </ng-template>

  <button (click)="addDonation()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Donate 10€</button>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <ul class="navbar-nav mt-2 mt-lg-0 ml-4">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
  </ul>
  <ng-template [ngIf]="donationCounter > 190">
    <span class="align-middle">You are a real nice human being! VIP vibes all over man!</span>
  </ng-template>
  <button (click)="addDonation()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Donate 10€</button>
  
</nav>